<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartCV</title>
    <link rel="stylesheet" th:href="@{/start/style.css}">
</head>
<body>
<header>
    <div class="header-content">
        <nav>
            <ul class="nav-links">
                <li><a href="#">Products</a></li>
                <li><a href="#">Solutions</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Contact</a></li>
                <li><a th:href="@{/SmartCV/login}" th:if="${newUsername == null}">Login</a></li>
                <li><a th:href="@{/SmartCV/register}" th:if="${newUsername == null}">Sign-Up</a></li>
            </ul>

            <!-- O erro tava aqui paizão, não pode colocar a div "Profile" dentro da ul -->
            <div class="profile" th:if="${newUsername != null}">
                <a th:href="@{/SmartCV/profile(id=${newUsernameId})}"><img src="https://img.icons8.com/color/48/test-account.png" alt="Avatar" class="avatar"></a>
                <h1 th:text="${newUsername}"></h1>
                <p>|</p>
                <p th:text="${newUserProfession}"></p>
            </div>
            <!-- Agora tá certinho, só apagar o bagui e ja era -->
        </nav>
    </div>
</header>

<section class="main-section">
    <h1>Welcome to</h1>
    <h2>SmartCV</h2>
</section>

<footer>
    <div class="footer-content">
        <div class="footer-left">
            <div class="social-icons">
              <!--  &lt;!&ndash; Ícones de redes sociais &ndash;&gt;
                <a href="#" target="_blank"><img src="/path/to/youtube-icon.png" alt="YouTube"></a>
                <a href="#" target="_blank"><img src="/path/to/instagram-icon.png" alt="Instagram"></a>
                <a href="#" target="_blank"><img src="/path/to/linkedin-icon.png" alt="LinkedIn"></a>
                <a href="#" target="_blank"><img src="/path/to/twitter-icon.png" alt="Twitter"></a>-->
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-column">
                <h3>Use cases</h3>
                <ul>
                    <li><a href="#">UI design</a></li>
                    <li><a href="#">UX design</a></li>
                    <li><a href="#">Wireframing</a></li>
                    <li><a href="#">Diagramming</a></li>
                    <li><a href="#">Brainstorming</a></li>
                    <li><a href="#">Team collaboration</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Explore</h3>
                <ul>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Prototyping</a></li>
                    <li><a href="#">Development features</a></li>
                    <li><a href="#">Design systems</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Resources</h3>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Best practices</a></li>
                    <li><a href="#">Color wheel</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>